<a href="/client/products">Home</a>
<h2><%= @product["name"] %></h2>
<h3>Price: <%= @product["price"] %></h3>
<h4>Instock: <%= @product["instock"] %></h4>
<h5>Description: <%= @product["description"]%></h5>

<a href="/client/products/<%= recipe["id"] %>/edit"Edit</a>


